beautifulsoup4==4.9.0
bs4==0.0.1
docutils==0.16
et-xmlfile==1.0.1
httplib2==0.18.0
jdcal==1.4.1
lockfile==0.12.2
luigi==2.8.12
numpy==1.18.2
openpyxl==3.0.3
pandas==1.0.3
python-daemon==2.2.4
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
soupsieve==2.0
tornado==5.1.1
xlrd==1.2.0
